<template name="mainLayout">

    <header><h1>Kadira Blog</h1></header>
    <main>
        {{>Template.dynamic template=content}}
    </main>
    <footer>We love Meteor</footer>
</template>

<template name="blogHome">
    <p>This is the home page of our blog</p>
    <p>
        <a href="/hello-world">See Hello World Post</a>
    </p>
</template>

<template name="blogPost">
    <p>
        <a href="/">Back</a> <br/>
        This is a single blog post
    </p>
</template>