<template name="cheatsheetProperties">

        <ul class="uk-tab">
            <li class="uk-active"><a href="">Create Cheatsheet</a></li>
            <li><a href="">Browse Cheatsheets</a></li>
            <li><a href="">Help</a></li>
        </ul>
        <div class=" remove-margin cheref-background-color ">

            <form class="uk-form">
                <div class="uk-grid uk-margin-remove">

                    <!--<input type="text" class="uk-form-small" placeholder="Cheatsheet Name">-->
                    {{#if editingCheatsheetName}}
                        <fieldset class=" uk-form-stacked  uk-width-1-4 ">
                            <div class="uk-form-row uk-margin-small-left">

                                <label class="uk-form-label uk-text-small uk-text-bold">Name:</label>
                                <input style=""  type="text" class="  js-name uk-form-small" data-id="name" id="name" placeholder="Cheatsheet Name" value="{{cheatsheet.name}}">
                                <br/>

                                <label class="uk-form-label uk-text-small uk-text-bold">Description:</label>
                                <input style=""  type="text" class=" js-name uk-form-small" data-id="description" id="description" placeholder="Description" value="{{cheatsheet.description}}">

                                <label class="uk-form-label uk-text-small uk-text-bold">Tags:</label>
                                <select class="uk-form-small cheatsheet_template" name="customer" id="customer">
                                    <option value="">Tags</option>
                                    {{#each templates}}
                                        <option {{isSelected name}} value="{{ _id}}">{{name}}</option>
                                    {{/each}}
                                </select>

                            </div>
                        </fieldset>
                    {{else}}

                        <fieldset class=" uk-form-stacked  uk-width-1-4 ">
                            <div class="uk-form-row uk-margin-small-left">

                                <label class="uk-form-label uk-text-small uk-text-bold">Name:</label>
                                <input style=""  type="text" class="js-editCheatsheetName uk-form-small" data-id="name" id="name" placeholder="Cheatsheet Name" value="{{cheatsheet.name}}">
                                <br/>

                                <label class="uk-form-label uk-text-small uk-text-bold">Description:</label>
                                <input style=""  type="text" class="js-editCheatsheetName uk-form-small" data-id="description" id="description" placeholder="Description" value="{{cheatsheet.description}}">

                                <label class="uk-form-label uk-text-small uk-text-bold">Tags:</label>
                                <select class="uk-form-small cheatsheet_template" name="customer" id="customer">
                                    <option value="">Tags</option>
                                    {{#each templates}}
                                        <option {{isSelected name}} value="{{ _id}}">{{name}}</option>
                                    {{/each}}
                                </select>

                            </div>
                        </fieldset>

                    {{/if}}

                    <fieldset class=" uk-form-stacked uk-width-1-4">
                        <div class="uk-form-row">
                            <label class=" uk-form-label uk-text-small uk-text-bold">Target device/devices:</label>
                            <select class="uk-form-small js-cheatsheet_width" name="customer" id="customer">
                                <option value="">Select target device/devices</option>
                                {{#each pageFormat}}
                                    <option  value="{{value}}">{{selection}}</option>
                                {{/each}}
                            </select>

                            <label class="uk-form-label uk-text-small uk-text-bold">Number of columns:</label>
                            <select class="uk-form-small js-number_of_columns" name="customer" id="customer">
                                <option value="">Select number of columns</option>
                                {{#each columnNumbers}}
                                    <option {{isSelected name}} value="{{ this}}">{{this}} columns</option>
                                {{/each}}
                            </select>

                            <label class="uk-form-label uk-text-small uk-text-bold">Theme:</label>
                            <select class="uk-form-small cheatsheet_template" name="customer" id="customer">
                                <option value="">Select theme</option>
                                {{#each templates}}
                                    <option {{isSelected name}} value="{{ _id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </fieldset>
                </div>

            </form>

        </div>

</template>
