<template name="cheatsheetList">
    <div class="posts">
        <h5>cheatsheetTemplateName</h5>
        <a href="{{!--pathFor 'mainPage'--}}">New</a>
        <button id="newCheatsheet">New Cheatsheet</button>

        {{#each cheatsheets }}
            {{> item}}
        {{/each}}
    </div>


</template>
