<template name="contentItem">
    <li id="{{_id}}" class="contentItem ">
        <div>
            <div class="contentitem_handle"
                 style="display: block; padding: 5px; margin: 5px; background-color: #ccc; border: 1px solid #aaa;cursor: move;">
            </div>
            id:{{_id}}
            <button id="" class="uk-button jsContentItemButton" data-id="jsNewBeforeContentItem">New Contentitem above</button>

            <label class="uk-form-label uk-text-small uk-text-bold">Number of columns:</label>
            <select class="uk-form-small jsWhich_content_type" name="ratso" data-id="jsNewBeforeContentItem" id="">
                <option value="">New contenttype above</option>
                {{#each contentTypes}}
                    <option id="bongo" value="{'babon':'{{this.name}}', 'subtype':'{{this.type}}'}" data-subtype="{{this.type}}">new {{this.name}} item above</option>
                {{/each}}

            </select>
    {{#if beforeSub }}
            {{>Template.dynamic template=sub_type }}
    {{/if}}
    <li class="">
        {{> Template.dynamic template=contenttype }}
        <textarea id="textArea" class="editable myEditor" data-type="textarea" data-placeholder="{{content}}"
                  data-emptytext="{{content}}" data-rows="1" value="{{content}}"></textarea>
    </li>

    <h2>contenttest: {{contentt}}</h2>
    <br/>
    <button id="jsDeleteContentItem" class="uk-button">Delete Contentitem</button>

    <label class="uk-form-label uk-text-small uk-text-bold">Number of columns:</label>
    <select class="uk-form-small jsWhich_content_type" name="type" data-id="jsNewBelowContentItem" id="">
        <option value="">new contenttype below</option>
        {{#each contentTypes}}
            <option id="bongo" value="{'babon':'{{this.name}}', 'subtype':'{{this.type}}'}" data-subtype="{{this.type}}">new {{this.name}} item below</option>
        {{/each}}
    </select>
    {{#if belowSub }}
        {{> Template.dynamic template=sub_type }}
    {{/if}}



    <button id="jsNewBelowContentItem" class="uk-button jsContentItemButton">New Contentitem below</button>
    </div>
    <table class="uk-table uk-table-striped uk-text-left js-tc_resize">
        <thead>
        <tr>
            <th>Question</th>
            <th>Response</th>
        </tr>
        </thead>
        <tbody class="js-tr_sort">
        {{#if this.has_subitems}}
            {{#each sub_items }}
                <tr id= {{this.row_id}}>
                    {{!--> two_col_table--}}
                    {{> Template.dynamic template=sub_content_type data=this}}
                </tr>
            {{/each}}
        {{/if}}


        <tr>

            <td>Apa</td>
            <td>Gillar bananer</td>
        </tr>
        <tr>
            <td>Råtta</td>
            <td>Gillar ost jättemycket</td>
        </tr>
        <tr>
            <td>Häst</td>
            <td>Gillar hö</td>
        </tr>
        <!-- additional rows as above -->
        <tr>
            <td>Säl</td>
            <td>Gillar fisk som bara den kan äta och stor blir den då.</td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    </li>
</template>