<template name="item">
    <div class="post">
        <div class="post-content">
            <h3><a href="{{!--url--}}">{{name}}</a><span>{{!--domain--}}</span></h3>
        </div>
        <a href="{{pathFor '/:id' id=_id}}" class="discuss btn btn-default">CheatsheetPage</a>
        <br>
        {{#if isNotTemplate}}
            <button id="deleteCheatsheet">Delete cheatsheet</button>
        {{/if}}
        <p id="textArea" class="editable" data-type="textarea" data-placeholder="{{spank}}" data-emptytext="{{spank}}" data-rows="1"></p>
    </div>
</template>