/* CSS declarations go here */
.computer-width {
    min-width: 1068px !important;
    max-width: 1068px !important;
    min-height: 1068px !important;
    max-height: 1068px !important;
    word-wrap: break-word;
    border: 1px solid;
}
.smartphone-width {
    min-width: 1068px !important;
    max-width: 1068px !important;
    min-height: 1068px !important;
    max-height: 1068px !important;
    word-wrap: break-word;
}
.ipad-width {
    min-width: 1068px !important;
    max-width: 1068px !important;
    min-height: 1068px !important;
    max-height: 1068px !important;
    word-wrap: break-word;
}
.hybrid-width {
    min-width: 1068px !important;
    max-width: 1068px !important;
    min-height: 668px !important;
    max-height: 1068px !important;
    word-wrap: break-word;
    border: 1px solid;


}
.a4-printing-width {
    min-width: 1068px !important;
    max-width: 1068px !important;
    min-height: 1068px !important;
    max-height: 1068px !important;
    word-wrap: break-word;
}

.column{
    outline: 1px solid blue;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.column_container {
    padding-left:10px;
    padding-right:10px;
}
.container_contentitem {  }
.row{
    padding-left:0px;
    padding-right:5px;
}

/* For drag and drop to work, why? */
.csort{
    min-height: 768px !important;
    -webkit-padding-start: 5px;
}
/* For drag and drop to work, why? */
.contentitemsort{
    min-height: 10px !important;
    -webkit-padding-start: 5px;
}
.list-group-item{
    outline: 1px solid mediumblue;
    padding-left:0px;
    padding-right:0px;
}

.col-sm-5 { width: 20%;}
.col-sm-7 { width: 14.2859%;}
.col-sm-8 { width: 12.5%;}
.col-sm-9 { width: 11.111%;}
.col-sm-10 { width: 10%;}
.col-sm-11 { width: 9.0909%;}


.col-xs-5 {
    width: 20%;
    float: left;
}
/*
@media (min-width: 768px) {
    .col-sm-5th {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5th {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5th {
        width: 20%;
        float: left;
    }
}
*/