.uk-grid{
    margin-top:10px;
}

.ch-padding-right{
    padding-right:15px;
}

.cheatsheet-border{
    border: solid 2px black;
    min-width: 900px;
    max-width: 900px;
    min-height: 500px;
    max-height: 500px;
    overflow:hidden;
}

.cheatsheet-width{
    min-width: 970px;
    max-width: 970px;
}

.uk-panel{
border: 1px solid black;
    margin-top: 20px !important;
}

.uk-panel-box{
    padding:0px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

}

.uk-panel-title{
    margin-bottom: 0px;
    color:white !important;

}
.uk-list{
    margin-top: 0px;
}
h3{
    background: #12235E;
    padding-left: 5px;
    background: rgba(32,124,229,1);
    background: -moz-linear-gradient(left, rgba(32,124,229,1) 0%, rgba(144,191,235,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,124,229,1)), color-stop(100%, rgba(144,191,235,1)));
    background: -webkit-linear-gradient(left, rgba(32,124,229,1) 0%, rgba(144,191,235,1) 100%);
    background: -o-linear-gradient(left, rgba(32,124,229,1) 0%, rgba(144,191,235,1) 100%);
    background: -ms-linear-gradient(left, rgba(32,124,229,1) 0%, rgba(144,191,235,1) 100%);
    background: linear-gradient(to right, rgba(32,124,229,1) 0%, rgba(144,191,235,1) 100%);
   /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#90bfeb', GradientType=1 );*/
}


.uk-list-striped > li:nth-of-type(odd) {
    background: #F9FEFE;
}
.uk-list-line > li:nth-child(n+2){
    margin-top:0px;

}.uk-list-line > li:nth-child(even){
     margin-bottom: 0px;
     background: #d4eaf9;
}

.cheatsheetitem-menu{
    color: #444444;
    border: none;
    border-bottom-color: currentColor;
    border-radius: 0px;
    background-origin:padding-box;
    background-image: none;
    background-image: none;
    margin:0;
    padding:0;
    position: absolute;
    width: 250px;
    bottom:0px;
    right:0px;

 }

.cheatsheetitem-menu-nav{

    margin:0 !important;
    padding:0 !important;
}

.cheref-background-color{
    background:#f5f5f5;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.remove-margin{
    margin: 0px 0px 0px 0px !important;
    padding-bottom: 5px;

}
.remove-margin-top{
    margin-top: 0px !important;
}

.subnav-cheatsheet-item{
    margin:0px !important;
    padding:0px !important;
    border: 1px solid black;
}

.cheatsheet-align-info-icon-right{
    margin-left:auto;
    padding-right:10px;
}

.hover-area-item-menu{
    position:absolute;
    bottom:0px;
    left:0px;
    height:5px;
    width: 248px;
    padding:0px;
    margin:0px;
    border: 1px solid black;
}

.uk-tab > li.uk-active > a{
    background-color:#f5f5f5 !important;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;


}
.uk-tab{
    border-bottom: 0px solid #f5f5f5;

}

.js-contentitemsort{
    min-height: 20px;
}

.js-newContentItem{
    z-index: -1;
}

table {table-layout:fixed}

td {word-wrap: break-word}