.uk-margin-large-bottom{
    margin-bottom: 20px !important;
}

.uk-form-label{
    margin-bottom: 2px !important;
    margin-top: 7px !important;
}

.uk-width-1-12 { width: 8.333%; }
.uk-width-2-12 { width: 16.666%; }
.uk-width-3-12 { width: 25%; }
.uk-width-4-12 { width: 33.333%; }
.uk-width-5-12 { width: 41.666%; }
.uk-width-6-12 { width: 50%; }
.uk-width-7-12 { width: 58.333%; }
.uk-width-8-12 { width: 66.666%; }
.uk-width-9-12 { width: 75%; }
.uk-width-10-12 { width: 83.333%; }
.uk-width-11-12 { width: 91.666%; }

/* Only tablets and desktop */
@media (min-width: 992px) {

    .uk-width-medium-1-12 { width: 8.333%; }
    .uk-width-medium-2-12 { width: 16.666%; }
    .uk-width-medium-3-12 { width: 25%; }
    .uk-width-medium-4-12 { width: 33.333%; }
    .uk-width-medium-5-12 { width: 41.666%; }
    .uk-width-medium-6-12 { width: 50%; }
    .uk-width-medium-7-12 { width: 58.333%; }
    .uk-width-medium-8-12 { width: 66.666%; }
    .uk-width-medium-9-12 { width: 75%; }
    .uk-width-medium-10-12 { width: 83.333%; }
    .uk-width-medium-11-12 { width: 91.666%; }

}

/* Only desktop */
@media (min-width: 1200px) {

    .uk-width-large-1-12 { width: 8.333%; }
    .uk-width-large-2-12 { width: 16.666%; }
    .uk-width-large-3-12 { width: 25%; }
    .uk-width-large-4-12 { width: 33.333%; }
    .uk-width-large-5-12 { width: 41.666%; }
    .uk-width-large-6-12 { width: 50%; }
    .uk-width-large-7-12 { width: 58.333%; }
    .uk-width-large-8-12 { width: 66.666%; }
    .uk-width-large-9-12 { width: 75%; }
    .uk-width-large-10-12 { width: 83.333%; }
    .uk-width-large-11-12 { width: 91.666%; }

}

/* Only desktop */
@media (min-width: 1200px) {


    .uk-width-large-5-12 { width: 20%; }
    .uk-width-large-7-12 { width: 14.2859%; }
    .uk-width-large-8-12 { width: 12.5%; }
    .uk-width-large-9-12 { width: 11.111%; }
    .uk-width-large-10-12 { width: 10%; }
    .uk-width-large-11-12 { width: 9.0909%; }

}