<template name="two_col_table">
    <td id="{{td_1.id}}">{{td_1.value}}</td>
    <td id="{{td_2.id}}">{{td_2.value}}</td>
</template>

<template name="three_col_table">
    <td id="{{td_1.id}}">{{td_1.value}}</td>
    <td id="{{td_2.id}}">{{td_2.value}}</td>
    <td id="{{td_3.id}}">{{td_3.value}}</td>
</template>

<template name="four_col_table">
    <td id="{{td_1.id}}">{{td_1.value}}</td>
    <td id="{{td_2.id}}">{{td_2.value}}</td>
    <td id="{{td_3.id}}">{{td_3.value}}</td>
    <td id="{{td_4.id}}">{{td_4.value}}</td>
</template>