<template name="column">
    <div id="{{_id}}" class=" {{html.width}} uk-padding-remove ">

 <!--       <ul class="sortablee">
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s huppa"></span>Item 1</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s huppa"></span>Item 2</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s huppa"></span>Item 3</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s huppa"></span>Item 4</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s huppa"></span>Item 5</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s huppa"></span>Item 6</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s huppa"></span>Item 7</li>
        </ul>  TODO remove this-->

        <!--Här skall containers itereras ut-->
        <div id="{{this._id}}" class="uk-text-center uk-text-bold">
            {{#unless sorted_column_containers _id cheatsheet_id}}
                <a id="js-newContainer" class="uk-button uk-margin-top">Click to add paragraph  </a>
            {{/unless}}
            <ul class="csort uk-padding-remove uk-margin-left ">
                {{#each sorted_column_containers _id cheatsheet_id}}

                     {{> container}}

                {{/each}}
            </ul>
        </div>

    </div>

</template>


