<template name="container">
    <li id="{{_id}}">
        <div  class="uk-panel uk-panel-box js-container_item">
            <div class="container_handle" style="display: block; padding: 5px; margin: 5px; background-color: #ccc; border: 1px solid #aaa;cursor: move;">
            </div>
            Id:{{_id}}
            <button id="js-newBeforeContainer" class="uk-button uk-margin-top js-containerButton">New paragraph above</button>
            <br/>
            <br/>

            <div id="{{this._id}}" class="uk-text-center">
                {{#unless sorted_contentItems _id cheatsheet_id}}
                    <button id="js-newContentItem" class="uk-button">Click to insert content or drop something below</button>
                {{/unless}}
                <!--Här skall contentitems itereras ut-->
                <ul class="js-contentitemsort ui-state-default uk-padding-remove">



                    {{#each sorted_contentItems _id cheatsheet_id }}
                        {{> contentItem}}
                    {{/each}}
                </ul>
            </div>
            <br/>
            <button id="js-deleteContainer" class="uk-button">delete this paragraph</button>

            <br/>
            <button id="js-newBelowContainer" class="uk-button js-containerButton">New paragraph below</button>


        </div>
    </li>
</template>
