<template name="mainPage">

    Ratsso:{{task}}
    <a href="{{!--pathFor 'cheatsheetList'--}}" class="discuss btn btn-default">CheatsheetList</a>
    <h3>currentCheatsheet{{globalHelperCurrentCheatsheet this.name "apan"}}</h3>
    <h5>Pagename: {{name}}</h5>

    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom ">

        {{> cheatsheetProperties}}

        {{burtan}}
        {{cheatsheet.name}}

        <div class=" ">

            <div id="cheatsheetTemplate.page._id" class="">
                {{#each cheatsheet.cheatsheet_pages}}<!--This variable is available from object injected from the iron router route-->
                    {{> innerPage}}
                {{/each}}
            </div>

        </div>
    </div>



</template>
