<template name="column_number_menu">

    <select class="uk-form-small jsCol_num" name="type" id="js-newTypeContentitemAfter">
        <option value="two_col_table">Two columns</option>
        <option value="three_col_table">Three columns</option>
        <option value="four_col_table">Four columns</option>
    </select>

</template>