<template name="innerPage">
            <div id="cheatsheetTemplate.page.columns._id" class="uk-panel uk-grid uk-margin-remove ch-padding-right">
                {{#each sorted_page_columns }}
                    {{> column}}
                {{/each}}
            </div>
</template>